#country-select {
  margin: 10px 2vw 0;
  background-color: rgba(230,240,255,.3);
  border-radius: 7px 7px 0 0;
  border-bottom: solid 2px rgba(230,240,255,1);
  padding-bottom: 3vh;
}

#country-select > div:not(#destination-info) {
  width: 80vw;
  margin: 0 0 2vh 7vw;
}

#country-select > div img:not(#world-map) {
  position: absolute;
  opacity: 0;
}
#country-select > div img:not(#world-map):hover {
  opacity: 1;
}
#world-map { width: 100%;}
#eu-east { width: 27.1%; margin: 2vw 41.9vw; }
#nordics { width: 15.6%; margin: 1vw 28.2vw; }
#s-e-asia { width: 16%; margin: 13.4vw 57.5vw; }
#china { width: 11.6%; margin: 7.2vw 52.8vw; }
#africa { width: 15.6%; margin: 11.2vw 33.6vw; }
#middle-e { width: 8.4%; margin: 10vw 43vw; }
#aus-nz { width: 15.7%; margin: 22.6vw 61.4vw; }
#balkans { width: 3.4%; margin: 8.5vw 40.5vw; }
#eu-central { width: 4%; margin: 7vw 38.7vw; }
#france { width: 2.9%; margin: 7.6vw 37.2vw; }
#italy { width: 2.2%; margin: 8.9vw 39.5vw; }
#japan { width: 2.3%; margin: 9.2vw 64.8vw; }
#s-asia { width: 8.1%; margin: 11vw 50.4vw; }
#s-america { width: 17.4%; margin: 12.4vw 13.1vw; }
#spain-pt { width: 2.8%; margin: 9.6vw 35.9vw; }
#uk-ire { width: 2.1%; margin: 5.5vw 36.2vw; }
#us-canada { width: 23%; margin: 1vw 7.7vw; }

#destination-info{
  position: relative;
  margin: 0 5vw;
  height: 120px;
  background-color: white;
  border: 1px solid #DDD;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #AAA;
  overflow: hidden;
}



#destination-info div {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 0 0 5px 5px;
  background: -webkit-linear-gradient(0deg,white,rgba(255,255,255,.8) 60%,transparent);
  background: -moz-linear-gradient(0deg,white,rgba(255,255,255,.8) 60%,transparent);
  background: -o-linear-gradient(0deg,white,rgba(255,255,255,.8) 60%,transparent);
  background: linear-gradient(0deg,white,rgba(255,255,255,.8) 60%,transparent);
  display: none;
}

#destination-info p {
  margin: 5px 0;
  padding: 5px;
  background: rgb(230,240,255);
}
#destination-info p:hover{
  background: rgb(200,230,245);
  cursor: pointer;
}


@media screen and (min-width: 900px) {
  #country-select > div:not(#destination-info) {
    display: inline-block;
    width: 600px;
    margin-left: 3vw;
  }

  #world-map { width: 600px; }
  #eu-east { width: 203px; margin: 15px 314px; }
  #nordics { width: 115px; margin: 8px 212px; }
  #s-e-asia { width: 121px; margin: 100px 431px; }
  #china { width: 86px; margin: 54px 396px; }
  #africa { width: 117px; margin: 84px 252px; }
  #middle-e { width: 64px; margin: 75px 321px; }
  #aus-nz { width: 118px; margin: 169px 460px; }
  #balkans { width: 26px; margin: 63px 304px; }
  #eu-central { width: 30px; margin: 52px 290px; }
  #france { width: 21px; margin: 58px 279px; }
  #italy { width: 17px; margin: 66px 296px; }
  #japan { width: 18px; margin: 69px 486px; }
  #s-asia { width: 60px; margin: 83px 378px; }
  #s-america { width: 131px; margin: 92px 98px; }
  #spain-pt { width: 21px; margin: 72px 270px; }
  #uk-ire { width: 16px; margin: 41px 272px; }
  #us-canada { width: 170px; margin: 8px 59px; }

  #destination-info {
    float: right;
    width: 20vw;
    height: 275px;
    margin: 5px 3vw 0 0;
  }
}
