@font-face {
  font-family: Futurafrica;
  src: url("../fonts/Futurafrica.ttf");
}

@font-face {
  font-family: 'Pawluk Zibra';
  src: url("../fonts/PAWLUK_ZIBRA.ttf");
}

@font-face {
  font-family: Aller_Lt;
  src: url("../fonts/Aller_Lt.ttf");
}

body {
  font-family: Verdana, sans-serif;
  color: #1F1F60;
  background: -webkit-linear-gradient(50deg, white 60%, rgba(250, 250, 255, 1));
  background: -moz-linear-gradient(50deg, white 60%, rgba(250, 250, 255, 1));
  background: -o-linear-gradient(50deg, white 60%, rgba(250, 250, 255, 1));
  background: linear-gradient(50deg, white 60%, rgba(250, 250, 255, 1));
}

header {
  position: absolute;
  display: flex;
  justify-content: center;
  padding: 7px 0;
  top: 0;
  left: 0;
  width: 100%;
  background: -webkit-linear-gradient(50deg, rgba(200, 255, 230, .9), rgba(200, 230, 255, .9));
  background: -moz-linear-gradient(50deg, rgba(200, 255, 230, .9), rgba(200, 230, 255, .9));
  background: -o-linear-gradient(50deg, rgba(200, 255, 230, .9), rgba(200, 230, 255, .9));
  background: linear-gradient(50deg, rgba(200, 255, 230, .9), rgba(200, 230, 255, .9));
  border-bottom: solid 1px rgba(200, 230, 255, .9)
}

header img {
  height: 56px;
  margin: 3px 14px 0;
}

h1 {
  margin: 21px 0;
  text-align: center;
  font-size: 70px;
  line-height: 21px;
  font-family: 'Pawluk Zibra';
  color: #226;
  text-shadow: 0 0 1px white;
}

h1 span {
  margin-right: 3px;
  font-size: 85%;
  font-family: Futurafrica;
}

section {
  margin: 4vh 2vw;
  background-color: rgba(230, 240, 255, .3);
  border-radius: 7px 7px 0 0;
  border-bottom: solid 2px rgba(230, 240, 255, 1);
  padding-bottom: 3vh;
}

section div, p {
  margin: 2vh;
}

h2 {
  padding: 1vh 2vh;
  border-radius: 7px 7px 0 0;
  background: -webkit-linear-gradient(0deg, rgba(220, 230, 255, 1), rgba(230, 240, 255, 1));
  background: -moz-linear-gradient(0deg, rgba(220, 230, 255, 1), rgba(230, 240, 255, 1));
  background: -o-linear-gradient(0deg, rgba(220, 230, 255, 1), rgba(230, 240, 255, 1));
  background: linear-gradient(-90deg, rgba(220, 230, 255, 1), rgba(230, 240, 255, 1));
}

h2 span {
  margin-left: 16px;
  font-size: 18px;
  font-weight: normal;
}

.searchbar {
  margin: 0;
}

h3 {
  margin: 0;
}


#destination-details {
  height: 10vh;
}

.searchbar {
  width: auto;
}

.searchInput {
  background-image: url('../images/searchicon.png');
  background-size: 25px 25px;
  background-position: 10px 8px;
  background-repeat: no-repeat;
  width: 30vw;
  font-size: 16px;
  padding: 10px 15px 10px 40px;
  border: 1px solid #ddd;
  border-radius: 7px;
  margin-left: 5vw;
}

#destinationSearchBtn {
  background-color: transparent;
  color: black;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 7px;
  width: auto;
}

#dialog-message {
  display: none;
}

.popupWindow {
  z-index: 200;
}

.mask {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
  opacity: 0.5;
  background-color: white;
  display: none;
}
